#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;

  text-align: center;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


div.ext-box { display: table; width:100%;}
div.int-box { display: table-cell; vertical-align: middle; }