/**
 * Basic Form Styles
 */
 label {
  font-weight:bold;
  }
  fieldset {
  padding:0 1.4em 1.4em;
  margin:0 0 1.5em;
  border:1px solid #ccc;
  }
  legend {
  font-weight:bold;
  font-size:1.2em;
  margin-top:-.2em;
  margin-bottom:1em;
  }
  fieldset,#IE8#HACK {
  padding-top:1.4em;
  }
  legend,#IE8#HACK {
  margin-top:0;
  margin-bottom:0;
  }
  input[type=text],input[type=password],input.text,input.title,textarea {
  background-color:#fff;
  border:1px solid #bbb;
  }
  input[type=text]:focus,input[type=password]:focus,input.text:focus,input.title:focus,textarea:focus {
  border-color:#666;
  }
  select {
  background-color:#fff;
  border-width:1px;
  border-style:solid;
  }
  input[type=text],input[type=password],input.text,input.title,textarea,select {
  margin:.5em 0;
  }
  input.text,input.title {
  width:300px;
  padding:5px;
  }
  input.title {
  font-size:1.5em;
  }
  textarea {
  width:390px;
  height:250px;
  padding:5px;
  }
  form.inline {
  line-height:3;
  }
  form.inline p {
  margin-bottom:0;
  }
  .notice {
  background:#fff6bf;
  color:#514721;
  border-color:#ffd324;
  }
  .success {
  background:#e6efc2;
  color:#264409;
  border-color:#c6d880;
  }
  .info {
  background:#d5edf8;
  color:#205791;
  border-color:#92cae4;
  }
  .error a,.alert a {
  color:#8a1f11;
  }
  .notice a {
  color:#514721;
  }
  .success a {
  color:#264409;
  }
  .info a {
  color:#205791;
  }

  p#copyright {
  margin:20px 10px;
  font-size:90%;
  color:#999;
  }
  /* Form styles */
  .form-container {
  margin:10px;
  padding:25px;
  background:ghostwhite;
  border-radius:6px!important;
  border:1px dashed #b5ae8d;
  }
  .errors {
  margin:0 0 10px;
  padding:5px 10px!important;
  border:#750000 2px solid;
  background:#ebe9ce;
  border-radius:6px;
  }
  .errors p {
  margin:0;
  }
  .errors p em {
  color:#750000;
  font-weight:bold;
  }
  .form-container form p {
  margin:0;
  }
  p {
  padding:15px 0 20px;
  }
  .form-container form p.note {
  margin-left:70px;
  font-size:90%;
  color:#333;
  background:;
  }
  .form-container form fieldset {
  margin:10px 0;
  padding:10px;
  border:#ccc 1px solid;
  border-radius:6px;
  }
  .form-container form legend {
  font-weight:bold;
  color:#666;
  font-size:18px;
  }
  .form-container form fieldset div {
  padding:.75em 0;
  }
  .form-container label,.form-container span.label {
  margin-right:10px;
  padding-right:10px;
  width:150px;
  display:block;
  text-align:right;
  position:relative;
  }
  .form-container label.error,.form-container span.error {
  color:#750000;
  }
  .form-container label em,.form-container span.label em {
  right:0;
  font-size:140%;
  font-style:normal;
  color:#750000;
  }
  .form-container input.error {
  border-color:#750000;
  background-color:#bd3e3e;
  }
  .form-container input:focus,.form-container input.error:focus,.form-container textarea:focus {
  background-color:#ececdb;
  border-color:#d3d3b8;
  }
  .form-container .controlset label,.form-container .controlset input {
  display:inline;
  float:none;
  }
 